<template>
    <div class="main-wrapper">
        <div class="container">
            <b-breadcrumb>
                <b-breadcrumb :items="items"></b-breadcrumb>
            </b-breadcrumb>
            <div class="row">
                <div class="col-sm-auto">
                    <div v-if="category" class="left-category-container pt-5 pb-4 px-4">
                        <section class="article-count">
                            <p><i class="fas fa-file-alt info"></i>&nbsp;&nbsp;&nbsp;<span>{{ category.totalArticle }}</span></p>
                        </section>
                        <i class="fas" :class="{ ['fa-' + category.icon]: true }"></i>
                        <h5 class="text-center title">{{ category.title }}</h5>
                        <p class="text-center last-update">Updated <timeago :datetime="category.updatedOn"></timeago></p>
                        <hr>
                        <section class="px-3">
                            <i class="fas fa-info-circle info"></i>
                            <p class="text-center description">{{ category.description }}</p>
                        </section>
                    </div>
                </div>
                <div class="col">
                    <b-list-group class="px-md-3 pt-sm-3 pt-md-0">
                        <b-list-group-item v-for="article in articles" :key="article.id">
                        <a :href="'/#/category/'+ category.id" class="article-item">
                                <section class="row">
                                    <div class="col-auto pl-4">
                                        <i class="fas" :class="{ ['fa-' + article.icon]: true }"></i>
                                    </div>
                                    <div class="col">
                                        <h5>{{ article.title }}</h5>
                                        <p class="last-update">Updated {{article.updatedOn | formatDate}}</p>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                </section>
                        </a>
                        </b-list-group-item>
                    </b-list-group>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <h5 class="text-center mt-5 mb-4">Other categories</h5>
            <carousel
                    class="pb-5"
                    :navigationPrevLabel='"<span style=\"margin-right: 16px; border-radius: 50%; background-color: white; padding: 16px 20px\"><i class=\"fas fa-chevron-left\" style=\"color: #9C9AA6\"></i></span>"'
                    :navigationNextLabel='"<span style=\"margin-left: 16px; border-radius: 50%; background-color: white; padding: 16px 20px\"><i class=\"fas fa-chevron-right\" style=\"color: #9C9AA6\"></i></span>"'
                    :navigationEnabled="true"
                    :mouse-drag="false"
                    :paginationEnabled="false"
                    :per-page="1">
                <slide v-for="(categories, idx) in chunkedCategories" :key="idx">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12" v-for="category in categories" :key="category.id">
                            <a :href="'/#/category/' + category.id" class="category-container my-3 py-5 px-4">
                                <i class="fas" :class="{ ['fa-' + category.icon]: true }"></i>
                                <h5 class="text-center title">{{ category.title }}</h5>
                                <p class="text-center article-count">{{ category.totalArticle || 'No ' }} article{{ category.totalArticle > 1 ? 's' : '' }}</p>
                                <p class="text-center last-update">Last update <timeago :datetime="category.updatedOn"></timeago></p>
                            </a>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'
    import moment from 'moment';
    import _ from 'lodash';

    import { mapActions, mapGetters, mapMutations } from 'vuex';
    import { BBreadcrumb, BListGroup } from 'bootstrap-vue'
    import { Carousel, Slide } from 'vue-carousel'

    Vue.filter('formatDate', function(val) {
        if (val) {
            return moment(String(val)).format('ll');
        }
    });

    export default {
        components: {
            Carousel,
            Slide,
            BBreadcrumb,
            BListGroup,
        },

        created () {
            const { id } = this.$route.params;
            this.init(id);
        },

        data: () => ({
           items: [],
            chunkedCategories: [],
        }),

        watch: {
            $route(to, from) {
                this.init(to.params.id);
            },
        },

        computed: {
            ...mapGetters([ 'category', 'categories', 'articles' ])
        },

        methods: {
            ...mapActions([ 'getCategories', 'getArticlesByCategory' ]),

            ...mapMutations([ 'setCategory' ]),

            init (id) {
                if (this.categories.length) {
                     this.chnkedCategories(id);
                } else {
                    this.getCategories()
                        .then(() => {
                            this.chnkedCategories(id)
                        });
                }
                this.getArticlesByCategory(id);
                this.$forceUpdate();
            },

            chnkedCategories(id) {
                 this.chunkedCategories = _.chunk(this.categories.filter(category => category.id !== id), 3);
                            this.setCategory(this.categories.find(category => category.id === id));
                            this.setupBreadcrumbs();
            },

            setupBreadcrumbs () {
                this.items = [
                    {
                        text: 'All categories',
                        href: '/#/home'
                    },
                    {
                        text: this.category && this.category.title,
                        href: '/#/category'
                    },
                ];
            }
        },
    }
</script>
<style lang="scss" scoped>
    @import '../scss/_variables.scss';
    .main-wrapper {
        background-color: #FAFAFA;
        font-family: $font-family;

        button:focus,
        select:focus {
            outline: none !important;
        }

        .article-item {
            text-decoration: none;
            color: $text-black;
        }

        .last-update {
            color: $text-gray;
            line-height: 1;
        }

        .breadcrumb {
            background-color: transparent !important;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            a {
                color: $green;
            }
            ol {
                margin-bottom: 0;
                padding: 0;
            }
            .breadcrumb-item + .breadcrumb-item::before {
            font-family: "Arial";
            content: ">";
            }
        }

        .list-group-item {
            margin-bottom: 1rem;
            border: .06rem solid #EEEE;
            border-radius: .3rem;
            background-color: white;
            padding-top: 1rem;
            padding-bottom: 1rem;
            i {
                color: $green;
                line-height: 3.1;
            }
        }

        p {
            margin: 0;
            font-size: .8rem;
        }

        .container {
            margin: 0 auto;
            height: 100%;

            .category-container, .left-category-container {
                border: .06rem solid #EEEE;
                border-radius: .25rem;
                background-color: white;
                display: block;
                cursor: pointer;
                text-decoration: none;
                color: $text-black;

                i {
                    text-align: center;
                    display: block;
                    font-size: 4.5rem;
                    margin-bottom: 1.5rem;
                    color: $green !important;
                }

                h4 {
                    font-weight: bold;
                    color: $text-black;
                    margin-bottom: 1rem !important;
                }

                .article-count {
                    color: $green;
                }
            }
            .left-category-container {
                width: 23rem;
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;

                .article-count {
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    p {
                        display: inline-flex;
                        span {
                            color: $text-gray;
                        }
                    }
                }

                .info {
                    font-size: 1.13rem;
                    margin-bottom: 1rem;
                }

                .description {
                    color: $text-gray;
                }
            }
        }
    }
</style>