<template>
    <div class="main-wrapper">
        <div class="container">
            <div class="list">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12" v-for="category in categories" :key="category.id">
                        <a :href="'/#/category/' + category.id" class="category-container my-3 py-5 px-4">
                            <i class="fas" :class="{ ['fa-' + category.icon]: true }"></i>
                            <h5 class="text-center title">{{ category.title }}</h5>
                            <p class="text-center article-count">{{ category.totalArticle || 'No ' }} article{{ category.totalArticle > 1 ? 's' : '' }}</p>
                            <p class="text-center last-update">Last update <timeago :datetime="category.updatedOn"></timeago></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    created() {
        this.$store.dispatch('getCategories')
    },

    computed: {
        ...mapGetters([ 'categories' ])
    },

    methods: {
        ...mapActions(['getCategories'])
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';
    .main-wrapper {
        p {
            margin: 0;
            font-size: .8rem;
        }
        background-color: #FAFAFA;
        font-family: $font-family;

        .list {
            margin: 0 auto;
            padding: 9.4rem 1.9rem;
            height: 100%;

            .category-container {
                border: .06rem solid #EEE;
                border-radius: .25rem;
                background-color: white;
                display: block;
                cursor: pointer;
                text-decoration: none;
                i {
                    text-align: center;
                    display: block;
                    font-size: 4.5rem;
                    margin-bottom: 1.5rem;
                    color: $green;
                }

                h5 {
                    font-weight: bold;
                    color: $text-black;
                    margin-bottom: 1rem !important;
                }

                .article-count {
                    color: $green;
                }

                .last-update {
                    color: $text-gray;
                    line-height: 1;
                }
            }
        }
    }
</style>