<template>
    <div class="container">
			<div class="input-group mb-5 mt-3">
				<input type="text" class="form-control" placeholder="Search for answers" aria-label="Search for answers" aria-describedby="Search for answers" v-model="input">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="onSearch()"><i class="fas fa-search"></i></button>
				</div>
			</div>
		</div>
</template>

<script>
export default {
  data: () => ({
    input: ''
  }),

	methods: {
		onSearch() {
			if (this.input === '') {
				this.$router.push({path: '/'});
			} else {
				this.$router.push({path: '/search-result', query: {text: this.input}});
			}
		}
	}

}
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';

	.input-group {
		max-width: 45rem;
		margin: 0 auto;
		input {
			padding: 1.5rem;
			font-size: .9rem;
			color: $text-gray;
		}

		button {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			background-color: $green;
			border-color: $green;
			&:active {
				border-color: $green;
			}
			i {
				color: #FFFFFF;
				font-size: 1rem;
			}
		}
	}
</style>